include LICENSE
include NOTICE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include README.md
include environment.yml
include environment.lock.txt
include requirements.lock
recursive-include benchmarks *.cu *.h *.hpp *.json *.md *.MIT
recursive-include containers Dockerfile *.py *.json
recursive-include evaluation *.json *.md
recursive-include knowledge *.json
recursive-include docs *.json *.md
